@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

html,
body {
  font-family: Ubuntu, Arial;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/consorcio-magalu.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  width: 100%;
  height: 100vh;
}

#main {
    width: auto;
    height: auto;
    padding: 10px;
    box-shadow: 0.5em 0.5em 0.8em,
    -0.5em -0.5em 0.8em;
    background: white;
    border-radius: 20px;
}

#gerar {
    padding: 10px;
    width: auto;
    border: 1px solid rgb(253, 253, 253);
    background: #ffffff;
    border-radius: 5px;
}

#gerar1 {
    padding: 10px;
    width: auto;
    border: 1px solid rgb(0, 0, 0);
    background: #e6e6e681;
    border-radius: 5px;
}

.sec {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 20px;
}

.linha {
    width: 100%;
    border: 5px solid white;
}

.linha-p {
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
}
