<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <title>Gerador</title>
</head>

<body>
    <div id="main" class="container">
        <div class="row">
            <div class="col-sm text-center flex-column">
                <img src="../static/img/consorcio.png" alt="Logo Consorcio Magalu">
                <h1>Gerador de Senhas - Interno</h1>
                <div class="senhas mt-4">
                    <form action="/gerar" method="POST" class="sec">
                        <div class="form-group">
                            <label id="gerar"><b>Gere uma senha no botão abaixo</b></label>
                        </div>
                        <button type="submit" class="btn btn-primary">Gerar uma senha</button>
                    </form>
                    <div class="linha"></div>
                    <form action="/criptografar" method="POST" class="sec">
                        <div class="form-group center">
                            <label id="gerar"><b>Ou Criptografe sua senha abaixo</b></label>
                            <input name="senha" type="text" class="form-control"
                                placeholder="Digite sua senha para criptografar..." minlength="8">
                        </div>
                        <button type="submit" class="btn btn-primary">Criptografar</button>
                        <div class="linha"></div>
                        <small class="form-text text-muted">Nunca compartilhe sua senha, com ninguém.</small>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>